body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.delete-form {
  display: inline-block;
  margin-right: 1px;
}
	
.delete-form button {
  color: red;
}
	
li {
  list-style: none;
}

.edit {
  display: inline-block;
  margin-right: 10px;
}
	
.edit button {
  color: rgb(50, 102, 57);
}
